.apps {
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

/*
*
*
* STYLING FOR ALL PAGES
*
*
*/
body {
  background: #7b9c98 !important;
  /* background: url(https://wallpaperaccess.com/full/1670732.jpg);
  background-size: cover;
  background-position: center; */
}

:hover {
  color: '#708d8a';
}

.navbar {
  text-decoration: none;
  color: #384342;
  padding: 30px;
  font-size: 14pt;
  font-weight: 'bold';
  padding-right: 30px;
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

/*
*
*
* HOME PAGE
*
*
*/
.description {
  font-size: 30px;
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.homepage {
  height: 68vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

// .navContainer {
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
// }

.jobAppHeading {
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.newAppButton {
  animation: fadeIn ease 1400ms;
  -webkit-animation: fadeIn ease 1400ms;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
  opacity: 0;
  animation-fill-mode: forwards;
  padding-bottom: 10px;
}

.headers {
  padding-bottom: 20px;
  font-size: large;
}

.appsContainer {
  display: flex;
}

.apps {
  display: inline-flex;
  margin-right: 30px;
}

.container {
  padding: 20px;
  margin: 20px;
  margin-top: 120px;
  animation: fadeIn ease 1200ms;
  -webkit-animation: fadeIn ease 1200ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
